body {
  max-width: 1600px;
}
#c2 {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
#c1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: sticky;
  top: 0;
  border-bottom: 1px solid black;
}
#c111 {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  position: relative;
}
#c12 {
  position: relative;
  right: 0px;
}
#c11 {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  position: relative;
}
#search {
  /* position: absolute; */
  margin-left: 4px;
  margin-top: 2px;
}
#searchbar {
  position: absolute;
  width: 300px;
}
#c2 {
  margin-top: 20px;
}
#c21 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#c211 {
  display: flex;
  align-items: center;
  gap: 6px;
}
#c221 {
  display: flex;
  gap: 10px;
  border: 2px solid black;
  border-radius: var(--bd-radius);
  align-items: center;
  padding: 12px;
}
#c22 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#c222 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid black;
  border-radius: var(--bd-radius);
  /* align-items: center; */
  padding: 12px;
}
#c222a {
  display: flex;
}
#c222b {
  display: flex;
  gap: 10px;
  border-radius: var(--bd-radius);
  align-items: center;
  /* padding: 12px; */
}
#c222c {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
