body {
  max-width: 1600px;
}
#c2 {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
#c1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: sticky;
  top: 0;
  border-bottom: 1px solid black;
}
#c111 {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  position: relative;
}
#c12 {
  position: relative;
  right: 0px;
}
#c121 {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: auto;
  border: 2px solid black;
  position: absolute;
  padding: 20px;
  gap: 20px;
  top: 50px;
  right: 0;
  background-color: white;
}
#c122 {
  cursor: pointer;
}
#c121a {
  border: 1px solid black;
  width: auto;
  height: auto;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}
#c121b {
  border: 1px solid black;
  width: auto;
  height: auto;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

#c11 {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  position: relative;
}
#search {
  /* position: absolute; */
  margin-left: 4px;
  margin-top: 2px;
}
#searchbar {
  position: absolute;
  width: 300px;
}
#c2 {
  margin-top: 20px;
}
#c21 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#c211 {
  display: flex;
  align-items: center;
  gap: 6px;
}
#fullname2 {
  display: block;
}
@media screen and (max-width: 900px) {
  #fullname2 {
    display: none;
  }
}
#c221 {
  display: flex;
  gap: 10px;
  border: 2px solid black;
  border-radius: var(--bd-radius);
  align-items: center;
  padding: 12px;
}
#c22 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#c222 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid black;
  border-radius: var(--bd-radius);
  padding: 20px;
}
#c222a {
  display: flex;
}
#c222b {
  display: flex;
  gap: 10px;
  border-radius: var(--bd-radius);
  align-items: center;
  /* padding: 12px; */
}
#c222c {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#c222d {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
